<div class="page__footer-follow">
  <ul class="social-icons">
    <li><strong>Follow me:</strong></li>
    <li><a href="https://github.com/cngvng" target="_blank"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a></li>
    <li><a href="https://scholar.google.com/citations?user=GJuxF5QAAAAJ&hl=vi" target="_blank"><i class="fas fa-graduation-cap" aria-hidden="true"></i> Google Scholar</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.</div>
